body{ background-color: #dda15e;
margin: 0px;}
.title{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #283618;
}
.adiss-abeba{color:#fefae0;}
.aboutet{text-align: center;
font-size: 40px;
color: #283618;
margin-top: 0px;
text-shadow: 0px 3px 3px #fefae0;}
.ethiopia{border-bottom: 4px solid #fefae0;}
.divpic{background-image: url(adiss.webp);

height: 450px;
background-size: cover;
border-bottom:40px solid #fefae0;}

.divpic:hover{background-image: url(addis_ababa_kaleab1.png);
transition: 2s;}
.vist-site{
    text-align: center;
    font-size: 40px;
    color: #fefae0;}
    .vist-place{
        display: flex;
        overflow: hidden;
        justify-content: space-around;
    }
    .div-title
    {margin-left: 50px;}
     #id-div{margin-right: 50px;}

.place1{width: 300px;
       height: 300px;
       border:6px solid #fefae0;
      border-radius: 50%;}

.unity{padding-left: 70px;
margin-top: 3px;
margin-bottom: 5px;}
.unity-span{color: #606c38;}
.about-unit{margin-top: 2px;
    font-size: 20px;
    color: #fefae0;
}
.profile{text-align: center;
 background-color: #fefae0;
color: #606c38;}
.profile-pic{width: 150px;
             height: 150px;
             border-radius: 50%;
}